<div class="card-page" *ngIf="item">
  <a routerLink="/cards" class="back-link">
    <img class="back-link__arrow" src="../../assets/icons/arrow-item.svg" />
    <span>Вернуться</span>
  </a>

  <h1 class="title">{{ item.title.english || item.title.native }}</h1>

  <div class="properties">
    <div class="properties__first-column">
      <div class="properties__names">
        <p>Жанры</p>
      </div>
      <div class="properties__values">
        <p>{{ item.genres.join(", ") }}</p>
      </div>
    </div>

    <div class="properties__second-column">
      <div class="properties__names">
        <p>Статус</p>
      </div>
      <div class="properties__values">
        <p>{{ item.status }}</p>
      </div>
    </div>
  </div>

  <span class="description-heading">Миссии</span>
  <p class="description" [innerHTML]="item.description"></p>
</div>
