<div class="item">
  <a [routerLink]="['/cards', item.id]" class="heading-container">
    <p class="heading">{{ item.title.english || item.title.native }}</p>
    <img src="../../assets/icons/arrow-item.svg" />
  </a>

  <div class="properties">
    <div class="first-column">
      <app-property name="Статус:" [value]="item.status"></app-property>
    </div>

    <div class="second-column">
      <app-property
        name="Жанры:"
        [value]="item.genres.join(', ')"
      ></app-property>
    </div>
  </div>
</div>
