.card-page {
  padding: 3rem 4rem;
  max-width: 51.7rem;
}

.back-link {
  text-decoration: none; /* reset a styles */

  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;

  color: var(--blue);
  font-family: Roboto-Regular;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.back-link__arrow {
  transform: rotate(180deg);
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.31rem;
}

.title {
  margin: 0 0 3.31rem;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto-Medium;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.properties,
.properties__first-column,
.properties__second-column {
  display: flex;
}

.properties {
  margin-bottom: 2.5rem;

  font-family: Roboto-Regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.properties__first-column {
  flex: 28.31;
}

.properties__second-column {
  flex: 15.39;
}

.properties__names {
  margin-right: 6.5rem;

  color: var(--black);
}

.properties__values {
  color: var(--blue);
}

.properties p {
  margin: 0; /* reset p styles */
}

.properties p + p {
  margin: 2.5rem 0 0; /* list items margin */
}

.description-heading {
  margin-bottom: 1.37rem;
  color: var(--black);
  font-family: Roboto-Regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.description {
  color: var(--blue);
  font-family: Roboto-Regular;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 200% */
}
