.item {
  border-bottom: 1px solid #a5a5a5;
  margin-bottom: 2.5rem;
  padding-bottom: 1.81rem;
}

.heading-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.81rem;
  cursor: pointer;
}

.heading {
  color: var(--black);
  font-family: Roboto-Medium;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
  margin: 0 1.19rem 0 0;
}

.properties {
  display: flex;

  color: var(--black);
  font-family: Roboto-Regular;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem; /* 150% */
}

.property span:first-child {
  margin-right: 6.5rem;
}

.first-column {
  flex: 28.31;
}

.second-column {
  flex: 59.1225;
  padding-left: 1rem;
}

.highlighted-text {
  color: var(--highlighted);
}
