<div class="list-container">
  <div class="list">
    <div *ngIf="error">Error :(</div>

    <h1 class="heading">Popular anime</h1>

    <ul *ngIf="animeList.length > 0; else elseBlock">
      <li class="list-item" *ngFor="let anime of animeList">
        <app-list-item [item]="anime"></app-list-item>
      </li>
    </ul>

    <ng-template #elseBlock
      ><p class="error">Oops, could not find anything!</p>
    </ng-template>

    <app-pagination
      [currentPage]="currentPage"
      (changePageClicked)="changePage($event)"
    ></app-pagination>
  </div>

  <app-filters
    class="filters"
    (submitted)="getList($event)"
    [filters]="filters"
  ></app-filters>
</div>
