.list-container {
  display: flex;
  height: 100vh;
}

.list {
  flex: 1;
  padding: 3.25rem 4rem 10.12rem 3.94rem;
  background: #fafafa;
}

.list-item {
  list-style-type: none;
}

.heading {
  color: var(--black);
  font-family: Roboto-Medium;
  font-size: 1.75rem;
  font-style: normal;
  line-height: 2rem; /* 114.286% */
  margin: 0 0 4rem;
}

ul {
  margin: 0;
  padding: 0;
}

.error {
  color: var(--black);
  font-family: Roboto-Regular;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2rem; /* 114.286% */
  font-weight: 500;
  margin: 2rem 0;
}

.filters {
  flex: 1;
  max-width: 24.5625rem;
  background: white;
  border-left: 1px solid #a5a5a5;
  padding: 3.25rem 2rem 3.25rem;
}
