<h2 class="heading">Фильтры</h2>

<form (ngSubmit)="onSubmit()">
  <div class="text-input-container">
    <input
      [(ngModel)]="filters.search"
      name="search"
      class="search text-input"
      type="search"
      placeholder=""
    />
    <div class="text-input-placeholder">Название</div>
  </div>

  <fieldset class="checkboxes-fieldset">
    <button
      class="select"
      type="button"
      (click)="areCheckboxesVisible = !areCheckboxesVisible"
    >
      Выбрано 2
    </button>

    <div
      class="checkboxes-container is-not-visible"
      [class.is-visible]="areCheckboxesVisible"
    >
      <div class="checkbox-wrapper" *ngFor="let genre of genreDummyData">
        <input
          class="checkbox"
          type="checkbox"
          name="genre"
          [id]="genre"
          [value]="genre"
        />
        <label class="checkbox-label" [for]="genre">{{ genre }}</label>
      </div>
    </div>
  </fieldset>

  <fieldset class="radio-fieldset">
    <legend class="radio-heading">Тип</legend>

    <div class="radio-container">
      <input
        class="radio"
        type="radio"
        id="finished"
        name="type"
        value="finished"
        [(ngModel)]="filters.type"
      />
      <label class="radio-text" for="finished">Finished</label>
    </div>

    <div class="radio-container">
      <input
        class="radio"
        type="radio"
        id="unfinished"
        name="type"
        value="unfinished"
        [(ngModel)]="filters.type"
      />
      <label class="radio-text" for="unfinished">Unfinished</label>
    </div>
  </fieldset>
</form>
