<h2 class="heading">Фильтры</h2>

<form>
  <div class="text-input-container">
    <input class="search text-input" type="search" placeholder="" />
    <div class="text-input-placeholder">Название</div>
  </div>

  <fieldset class="checkboxes-fieldset">
    <button
      class="select"
      type="button"
      (click)="isCheckboxesVisible = !isCheckboxesVisible"
    >
      Выбрано 2
    </button>

    <div *ngIf="isCheckboxesVisible" class="checkboxes-container">
      <div class="checkbox-wrapper">
        <input class="checkbox" type="checkbox" name="genre" id="Action" />
        <label class="checkbox-label" for="Action">Action</label>
      </div>

      <div class="checkbox-wrapper">
        <input class="checkbox" type="checkbox" name="genre" id="Adventure" />
        <label class="checkbox-label" for="Adventure">Adventure</label>
      </div>
    </div>
  </fieldset>

  <fieldset class="radio-fieldset">
    <legend class="radio-heading">Тип</legend>

    <div class="radio-input-container">
      <input
        class="radio-input"
        type="radio"
        id="finished"
        name="type"
        value="finished"
      />
      <label class="radio-input-text" for="finished">Finished</label>
    </div>

    <div class="radio-input-container">
      <input
        class="radio-input"
        type="radio"
        id="unfinished"
        name="type"
        value="unfinished"
      />
      <label class="radio-input-text" for="unfinished">Unfinished</label>
    </div>
  </fieldset>
</form>
