<h2 class="heading">Фильтры</h2>

<form>
  <input class="search" type="search" placeholder="Название" />

  <fieldset class="radio-fieldset">
    <legend class="radio-heading">Тип</legend>

    <div class="radio-input-container">
      <input
        class="radio-input"
        type="radio"
        id="finished"
        name="type"
        value="finished"
      />
      <label class="radio-input-text" for="finished">Finished</label>
    </div>

    <div class="radio-input-container">
      <input
        class="radio-input"
        type="radio"
        id="unfinished"
        name="type"
        value="unfinished"
      />
      <label class="radio-input-text" for="unfinished">Unfinished</label>
    </div>
  </fieldset>
</form>
